/* 루트 레벨 CSS */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
